* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.funtext {
  position: fixed;
  bottom: 50%;
  right: 0%;
  outline: none;
}
.funtext2 {
  position: fixed;
  bottom: 20%;
  right: 0%;
  outline: none;
}
