* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.App, .App1, .App2, .App3, .webgl, .funtext, .funtext2 {
  position: fixed;
  outline: none;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: funTextAnimation 2s infinite;
}

.App {
  top: 0%;
  left: 45%;
  font-size: 3rem;
}

.App1 {
  top: 7%;
  left: 45%;
  font-size: 3rem;
}

.App2 {
  top: 14%;
  left: 45%;
  font-size: 3rem;
}

.App3 {
  font-size: 3rem;
  top: 21%;

  left: 45%;
}

.webgl {
  top: 0;
  left: 0;
  font-size: 3rem;
}

.funtext {
  bottom: 50%;
  right: 0%;
  font-size: 3rem;
}

.funtext2 {
  bottom: 20%;
  right: 85%;
  font-size: 3rem;
}

@keyframes funTextAnimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
